<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="TestNG_TestSuite.LogIn"/>
      <class name="TestNG_TestSuite.EditProfileProfessionalSection"/>
      <class name="TestNG_TestSuite.EditProfileEducationSection"/>
      <class name="TestNG_TestSuite.EditProfileProfileSummarySection"/>    
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
